# Creating housing archetypes using K-means method
### Q4 2020-21

## Introduction
This workbook will ...

In [11]:
import numpy as np
import pandas as pd

## Data Source
The data represents a subset of ERS records used for initial analysis.

In [17]:
ers_sample_records = pd.read_csv(r"C:\Users\rasaee\GoogleDrive\Archetype-Clustering\InitialHousingData.csv")
ers_sample_records

      Air50P  Rating  YearBuilt  FloorArea  MainWallIns
0       8.77    60.0       1930      129.9         1.57
1      13.96    24.0       1908      447.0         0.85
2       5.19    75.0       1989      183.1         2.60
3      12.41    56.0       1950      110.5         1.84
4       5.38    71.0       1972      172.9         3.11
...      ...     ...        ...        ...          ...
9626   19.61     0.0       1910      183.8         1.80
9627   11.94     0.0       1900      149.5         2.71
9628    7.85     0.0       1985      177.8         2.95
9629    8.13     0.0       1990      137.0         2.84
9630    9.14     0.0       1977      172.1         2.37

[9631 rows x 5 columns]